body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;

}
.header-first{
    font-weight: 700;
    font-size: 56px;
    color: #ffffff;
    line-height: 107%;
    letter-spacing: 0.02em; 
    text-align: center;
    text-transform: capitalize;
}
.header-second{
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.header-third{
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: capitalize;
    color: #2e2f42;
    letter-spacing: 0.02em
}
ul{
  list-style-type: none;  
}
.link{
    text-decoration: none;
    color: #2e2f42;
}
.link:hover{
    color: #404bbf;
}
.link:focus{
    color: #404bbf;
}
.link-address{
    text-decoration: none;
    color: #434455;
}
.link-address:hover{
    color: #404bbf;
}
.link-address:focus{
    color: #404bbf;
}
nav{
    font-weight: 500;
    line-height: 150%;

}
.address{
    line-height: 150%;
    color: #434455;
    font-style: normal;
}
.footer{
    background-color: #2e2f42;
}
.button{
    font-family: 'Roboto', sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;

}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
.text{
    line-height: 150%;
    color: #434455;
    line-height: 1.5;
}
.footer-text{
    line-height: 150%;
    color: #F4F4FD;
    line-height: 1.5;
}
.logo{
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    line-height: 117%;
    letter-spacing: 0.03em;
    font-size: 18px;
    color: #4d5ae5;
}
.logo-altcolor{
    color: #2e2f42
}
.logo-footer-altcolor{
    color: #f4f4fd;
}
.solutions{
    background-color: #2e2f42;
}
.contacts{
    background-color: #f4f4fd;
}
.contact-card{
    background-color: #ffffff;
}